<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">about</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi at,
          tempore exercitationem, ad nihil molestiae dignissimos cum asperiores
          voluptatibus, eum minus. Sapiente laborum in distinctio porro quod nam
          enim expedita temporibus quas dolore, necessitatibus officiis debitis
          atque neque esse at, dolores, commodi libero dolorum consequuntur.
          Tenetur eos nostrum magnam qui at tempora et temporibus perspiciatis
          nesciunt soluta, dolor eum quos sed alias laudantium incidunt impedit
          hic quod minus in aliquid accusamus quae aperiam. Natus doloribus
          consequatur ipsum laudantium reiciendis libero delectus. Fugiat
          voluptatum eaque eos quaerat sunt ad aspernatur mollitia amet, odit
          quibusdam et necessitatibus dolorem dolores aliquid libero voluptates
          saepe voluptatem quod veritatis. Unde culpa ab, id aspernatur error
          eum itaque veritatis saepe distinctio consectetur alias debitis fuga,
          a facilis recusandae sapiente laudantium voluptatibus aliquam
          excepturi. Vel maiores odit eaque dolores aut aspernatur rerum eum
          dolorem voluptatum beatae reprehenderit exercitationem vitae obcaecati
          ducimus quo similique ipsam blanditiis laudantium modi, consequatur in
          repudiandae aperiam saepe? Reprehenderit, culpa ab minus obcaecati
          quisquam, velit voluptate cumque corporis pariatur ut amet
          consequuntur unde magnam ea saepe iure provident cum fugiat beatae
          placeat animi distinctio magni maiores? Dolore repudiandae nulla
          eaque, tempora impedit, perferendis enim nam cum earum dignissimos
          minus exercitationem fuga, sapiente provident aspernatur quam quae ad
          et similique illo nesciunt repellendus porro ratione? Sequi
          accusantium quos laborum labore earum! Animi voluptates deleniti illo
          repudiandae, repellat distinctio obcaecati enim quam quaerat,
          reprehenderit eveniet, dolores amet omnis in explicabo dicta nemo esse
          doloremque cum corporis. A ipsum sed magnam aspernatur voluptates,
          cupiditate non nihil magni fugit quaerat nemo voluptatem! Nulla
          voluptate excepturi enim temporibus eaque, et, itaque ducimus, quo nam
          voluptatem totam architecto illum voluptas? Neque minima hic totam
          mollitia dolore eos iste quam ratione, dicta voluptate? Maiores
          dolore, quaerat ipsum voluptatum reprehenderit minima similique natus
          aperiam eos rerum earum exercitationem nulla, quae consequatur?
        </p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
