body{
    background: #202020;
    color: white;
}
.card{
    margin-bottom: 2rem;
    width: 18rem;
}
.card:hover{
    opacity: .7;
}

@media (max-width: 996px){
    .container{
        display: block;
    }
}