body{
    background: #202020;
    color: white;
}
.card{
    margin-bottom: 2rem;
    width: 18rem;
    
}
.card-dark:hover{
    opacity: .7;
}
.container-card{
   
    margin: 2rem;
}

footer .redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
  }

footer .redes-sociales a {
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: 0.3s ease all;
    color: #f3f3f3;
  }
  footer .redes-sociales .github {
    background: #fa5c00;
  }
  footer .redes-sociales a i {
    font-size: 30px;
    line-height: 60px;
  }
