body{
    background: #202020;
    color: white;
}
.card{
    margin-bottom: 2rem;
    width: 18rem;
    
}
.card-dark:hover{
    opacity: .7;
}
.container-card{
   
    margin: 2rem;
}
.container-card img{
  height: 12rem;
}

