<div class="card bg-dark card-dark p-0 card-projects">
  <img
    src="/img/react-shop.jpg"
    class="card-img-top border-bottom border-2"
    alt="react-shop"
  />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">React Shop</h5>
    <p class="card-text">Tienda online con carrito de compras</p>
    <div class="container d-flex justify-content-center gap-3">
      <a
        href="https://matias-s1lva.github.io/react-shop/"
        target="_blank"
        class="btn btn-primary "
        ><i class="fa-solid fa-globe"></i></a>
      <a
        href="https://github.com/Matias-S1lva/react-shop"
        target="_blank"
        class="btn btn-primary rounded-circle "
        ><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</div>



<div class="card bg-dark card-dark p-0 card-projects">
  <img
    src="/img/starwars.jpg"
    class="card-img-top border-bottom border-2"
    alt="..."
  />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Galery-grid</h5>
    <p class="card-text">
      Galeria con grid, hecha desde una galaxia muy muy lejana.
    </p>
    <div class="container d-flex justify-content-center gap-3">

      <a
        href="https://cool-sable-5fd591.netlify.app/"
        target="_blank"
        class="btn btn-primary"
        ><i class="fa-solid fa-globe"></i></a
      >
      <a
          href="https://github.com/Matias-S1lva/galeria-Star-Wars"
          target="_blank"
          class="btn btn-primary rounded-circle "
          ><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</div>

<div class="card bg-dark card-dark p-0 card-projects">
  <img
    src="/img/crud-background.jpg"
    class="card-img-top border-bottom border-2"
    alt="..."
  />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Crud-javascript</h5>
    <p class="card-text">App para guardar, editar o eliminar tareas.</p>
    <div class="container d-flex justify-content-center gap-3">
      <a
        href="https://beamish-nasturtium-f2ecdb.netlify.app/"
        target="_blank"
        class="btn btn-primary text-center"
        >
          <i class="fa-solid fa-globe"></i>
      </a>
      <a
          href="https://github.com/Matias-S1lva/Crud-js"
          target="_blank"
          class="btn btn-primary rounded-circle "
          ><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</div>

<div class="card bg-dark card-dark p-0 card-projects">
  <img
    src="/img/rick-and-morty.jpg"
    class="card-img-top border-bottom border-2"
    alt="..."
  />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Api rick and morty</h5>
    <p class="card-text">
      Consumiendo api con react.
    </p>
    <div class="container d-flex justify-content-center gap-3">
      <a
        href="https://matias-s1lva.github.io/rick-and-morty/"
        target="_blank"
        class="btn btn-primary text-center"
        ><i class="fa-solid fa-globe"></i></a
      >
      <a
          href="https://github.com/Matias-S1lva/rick-and-morty"
          target="_blank"
          class="btn btn-primary rounded-circle "
          ><i class="fa-brands fa-github"></i></a>
    </div>
  </div>

  <!--https://matias-s1lva.github.io/react-tasks-app/-->
</div>

<div class="card bg-dark card-dark p-0 card-projects">
  <img
    src="/img/react-tareas.jpg"
    class="card-img-top border-bottom border-2"
    alt="..."
  />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Lista de tareas</h5>
    <p class="card-text">App para guardar tareas hecha con react.</p>
    <div class="container d-flex justify-content-center gap-3">

      <a
        href="https://matias-s1lva.github.io/react-tasks-app/"
        target="_blank"
        class="btn btn-primary text-center"
        ><i class="fa-solid fa-globe"></i></a
      >
      <a
          href="https://github.com/Matias-S1lva/react-tasks-app"
          target="_blank"
          class="btn btn-primary rounded-circle "
          ><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</div>

