<div class="card bg-dark card-dark p-0 card-projects">
  <img src="/img/react_shop.jpg" class="card-img-top border-bottom border-2" alt="..." />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">React Shop</h5>
    <p class="card-text">Tienda online con carrito de compras</p>
    <a
      href="https://matias-s1lva.github.io/react-shop/"
      target="_blank"
      class="btn btn-primary"
      >Go</a
    >
  </div>
</div>



<div class="card bg-dark card-dark p-0 card-projects">
  <img src="/img/linksapp.jpg" class="card-img-top border-bottom border-2" alt="..." />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Favorite-links</h5>
    <p class="card-text">App para guardar tus enlaces favoritos.</p>
    <a
      href="https://nodejs-mysql-links-app.herokuapp.com/"
      target="_blank"
      class="btn btn-primary"
      >Go</a
    >
  </div>
</div>
<div class="card bg-dark card-dark p-0 card-projects">
  <img src="/img/starwars.jpg" class="card-img-top border-bottom border-2" alt="..." />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Galery-grid</h5>
    <p class="card-text">
      Galeria con grid, hecha desde una galaxia muy muy lejana.
    </p>
    <a
      href="https://cool-sable-5fd591.netlify.app/"
      target="_blank"
      class="btn btn-primary"
      >Go</a
    >
  </div>
</div>

<div class="card bg-dark card-dark p-0 card-projects">
  <img src="/img/crud-background.jpg" class="card-img-top border-bottom border-2" alt="..." />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Crud-javascript</h5>
    <p class="card-text">App para guardar, editar o eliminar tareas.</p>
    <a
      href="https://beamish-nasturtium-f2ecdb.netlify.app/"
      target="_blank"
      class="btn btn-primary text-center"
      >Go</a
    >
  </div>
</div>

<div class="card bg-dark card-dark p-0 card-projects">
  <img src="/img/rick-and-morty.jpg" class="card-img-top border-bottom border-2" alt="..." />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Api rick and morty</h5>
    <p class="card-text">
      Consumiendo api con react, galeria de personajes con paginacion.
    </p>
    <a
      href="https://matias-s1lva.github.io/rick-and-morty/"
      target="_blank"
      class="btn btn-primary text-center"
      >Go</a
    >
  </div>

  <!--https://matias-s1lva.github.io/react-tasks-app/-->
</div>

<div class="card bg-dark card-dark p-0 card-projects">
  <img src="/img/react-tareas.jpg" class="card-img-top border-bottom border-2" alt="..." />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">Lista de tareas</h5>
    <p class="card-text">App para guardar tareas hecha con react.</p>
    <a
      href="https://matias-s1lva.github.io/react-tasks-app/"
      target="_blank"
      class="btn btn-primary text-center"
      >Go</a
    >
  </div>
</div>

<div class="card bg-dark card-dark p-0 card-projects">
  <img src="/img/app-clima.jpg" class="card-img-top border-bottom border-2" alt="..." />
  <div class="d-flex flex-column justify-content-between card-body">
    <h5 class="card-title text-center">App Clima</h5>
    <p class="card-text">Aplicacion que muestra clima y ubicacion geografica.</p>
    <a
      href="https://matias-s1lva.github.io/react-clima-app/"
      target="_blank"
      class="btn btn-primary text-center"
      >Go</a
    >
  </div>
</div>



