<div class="card bg-dark card-dark" >
    <img src="/img/tasatasa.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Storage-online</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
      <a href="https://startling-macaron-53f671.netlify.app/" target="_blank" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>