<div class="card bg-dark card-dark" >
    <img src="/img/tasatasa.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Storage-online</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
      <a href="https://startling-macaron-53f671.netlify.app/" target="_blank" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card bg-dark card-dark" >
    <img src="/img/linksapp.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Favorite-links</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
      <a href="https://nodejs-mysql-links-app.herokuapp.com/" target="_blank" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card bg-dark card-dark" >
    <img src="/img/starwars.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Galery-grid</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the
        bulk of the card's content.
      </p>
      <a href="https://cool-sable-5fd591.netlify.app/" target="_blank" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>