<footer class="border-top ">
  <div class="redes-sociales">
    <div class="contenedor-icono">
      <a href="https://github.com/Matias-S1lva" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>

    <div class="contenedor-icono">
      <a
        href="https://www.linkedin.com/in/matias-silva-9a66a0218"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <div class="contenedor-icono">
      <a href="https://twitter.com/MatiasLeandroo7" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>
