<footer class="bg-dark text-center p-2 mt-5">
  <div class="redes-sociales">
    <div class="contenedor-icono">
      <a
        href="https://github.com/Matias-S1lva"
        target="_blank"
        class="github">
      <i class="fa-brands fa-git-alt"></i>
      </a>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
