<nav  id="navbar-example" class="bg-dark navbar-dark  navbar navbar-expand-lg" >
  <div class="container">
    <a class="navbar-brand" href="#"> My portfolio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link list-group-item list-group-item-action" style="background: none;" href="#list-item-1">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link list-group-item list-group-item-action"  href="#list-item-2">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link list-group-item list-group-item-action"  href="#list-item-3">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
